# Configuration file

~CONFIG_VERSION: 0.1.0

world-1547897723 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=ring
    B:overlayEnabled=true
}


world-1793304506 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1793304507 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1793304508 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=lev
    B:overlayEnabled=true
}


world-1793304509 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=crate
    B:overlayEnabled=true
}


world-2126675674 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@prefa

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-423571164 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=infusion
    B:overlayEnabled=true
}


world-509780027 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-545221373 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=salad
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=craft
    B:overlayEnabled=true
}


world1501981108 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=night
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1577971185 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=aqueous
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText= 
    B:overlayEnabled=true
}


world1774480418 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=philos
    B:overlayEnabled=true
}


world1944353254 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2603186 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world263428751 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world68266462 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world712473666 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world80928 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=osmium
    B:overlayEnabled=true
}


